.addRecipe {
  background-color: gainsboro;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}

.addRecipe form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

input,
textarea,
button {
  border-radius: 10px;
  border: none;
  padding: 0.75rem 0.5rem;
}

input:is(:hover, :focus, :active),
textarea:is(:hover, :focus, :active) {
  outline: 1px solid grey;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  color: darkslategray;
  letter-spacing: 0.25ch;
  font-size: 1.25rem;
  font-weight: bold;
}

button {
  background-color: darkslategrey;
  color: white;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(43, 101, 101);
}

.success,
.error {
  color: darkslategrey;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

.error {
  color: red;
}
.allRecipes {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-block: 3rem;
}
.allRecipes section {
  border: 3px solid darkslategrey;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.allRecipes h2 {
  flex-basis: 90%;
}
.allRecipes button {
  padding: 0.5rem;
  font-size: 1rem;
  justify-self: flex-end;
}
