<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipeats</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1><a href="/">Recipeats</a></h1>
    <!-- Svi Recept -->
    <section class="allRecipes"></section>
    <!-- Dodaj Recept -->
    <section class="addRecipe">
      <form id="newRecipe">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required />
        <label for="instructions">Instructions:</label>
        <textarea
          required
          name="instructions"
          id="instructions"
          cols="30"
          rows="10"
        ></textarea>
        <button type="submit" id="submitRecipe">Add Recipe</button>
      </form>
    </section>
    <script src="main.js"></script>
  </body>
</html>
